$primary-color: #d9eaff;

%add-new-input-element {
    display: inline-block;
    float: left;
}

.AddNew {
    background-color: $primary-color;
    .AddNewInput {
        .AddNewInputTitle {
            @extend %add-new-input-element;
        }
        .AddNewInputAuthor {
            @extend %add-new-input-element;
        }
        .AddNewInputTags {
            @extend %add-new-input-element;
        }
    }
}

.Filtr {
    h1 {
        text-align: center;
        text-decoration: underline;
        font-family: sans-serif;
    }
}

%button-default {
    margin-left: 90%;
}

.ButtonDelete,
.ButtonAdd {
    @extend %button-default;
}

.List {
    .ListItem {
        background-color: $primary-color;
    }
}

.tag {
    padding-right: 8px;
}
